In [ ]:
!pip install python-binance

In [30]:
import pandas as pd
from binance import Client

In [31]:
api_key = "a0iTggtmMahQMO5E58XcYPu9gCvZGluVWAGEEw2Vfwb37Jr4LmKtcyAp2tuL5mwK"
api_secret = "lpAukbUSaSeteDBKCIrycZitWwFVxDmPhEkbFj0V225vpvzaXpy5Oq75kxOunRtH"

In [32]:
client = Client(api_key, api_secret)

In [33]:
x = client.get_account()

In [48]:
pricesall = pd.DataFrame(client.get_all_tickers())
pricesall

       symbol         price
0      ETHBTC    0.06804500
1      LTCBTC    0.00240700
2      BNBBTC    0.01012500
3      NEOBTC    0.00035700
4     QTUMETH    0.00203700
...       ...           ...
2041   LDOBTC    0.00004972
2042   ENSTRY  194.10000000
2043   DAREUR    0.44127000
2044   DARETH    0.00022920
2045  ALGOETH    0.00023300

[2046 rows x 2 columns]

In [62]:
relevant = pricesall[pricesall['symbol'].str.endswith("USDT")]
relevant

        symbol           price
11     BTCUSDT  29822.25000000
12     ETHUSDT   2029.28000000
98     BNBUSDT    301.90000000
125    BCCUSDT    448.70000000
141    NEOUSDT     10.65000000
...        ...             ...
2021   MOBUSDT      1.85300000
2024  NEXOUSDT      1.34900000
2027   REIUSDT      0.04280000
2030   GALUSDT      6.21300000
2040   LDOUSDT      1.48200000

[404 rows x 2 columns]

In [65]:
relevant = relevant.set_index("symbol")

Index(['BTCUSDT', 'ETHUSDT', 'BNBUSDT', 'BCCUSDT', 'NEOUSDT', 'LTCUSDT',
       'QTUMUSDT', 'ADAUSDT', 'XRPUSDT', 'EOSUSDT',
       ...
       'APEUSDT', 'BSWUSDT', 'BIFIUSDT', 'MULTIUSDT', 'STEEMUSDT', 'MOBUSDT',
       'NEXOUSDT', 'REIUSDT', 'GALUSDT', 'LDOUSDT'],
      dtype='object', name='symbol', length=404)

In [66]:
relevant

                   price
symbol
BTCUSDT   29822.25000000
ETHUSDT    2029.28000000
BNBUSDT     301.90000000
BCCUSDT     448.70000000
NEOUSDT      10.65000000
...                  ...
MOBUSDT       1.85300000
NEXOUSDT      1.34900000
REIUSDT       0.04280000
GALUSDT       6.21300000
LDOUSDT       1.48200000

[404 rows x 1 columns]